<!DOCTYPE html>

<!--Idea, design and code by Peter Reznick-->
<!--(c) 2017 Peter Reznick All Rights Reserved-->

<html lang="en-US">
  <head>
    <title>Trumpku.net</title>
    <meta property="og:title"         content="Trumpku.net" />
    <meta property="og:url"           content="http://www.trumpku.net/" />
    <meta property="og:type"          content="website" />
    <meta property="og:description"   content="Generates a semi-random 5-7-5 haiku composed from Donald Trump's inaugural address and campaign speeches."/>
    <meta charset="UTF-8" />
    <meta name="description" content=<%= "Generates a semi-random 5-7-5 haiku composed from Donald Trump's inaugural address and campaign speeches." %> />
    <link rel="stylesheet" type="text/css" href="./stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="shortcut icon" href="/images/trumpku_icon.png" type="image/x-icon" />
  </head>
  <body>
    <div class="wrapper">
      <div id="fb-root"></div>
      <script src="./scripts/social_scripts.js"></script>
      <script src="./scripts/analytics.js"></script>
      <header>
        <h1>Trump<span>ku</span></h1>
      </header>
      <main>
        <div id="haiku_container">
          <p><%= @haiku[0] %></p>
          <p><%= @haiku[1] %></p>
          <p><%= @haiku[2] %></p>
        </div>
        <div id="refresh_button">
          <a href="/new_haiku">Another One</a>
        </div>
        <p class="popup_trigger">What is Trumpku?</p>
        <p class="popup">Trump(hai)ku generates a five-seven-five haiku using phrases selected semi-randomly from transcripts of our glorious leader's inaugural address and speeches on the campaign trail. Thanks to Ryan McDermott for making the text data available on GitHub.</p>
      </main>
      <footer>
        <div class="social_container">
          <div class="fb-share-button" id="facebook" data-href="http://www.trumpku.net/" data-layout="icon" data-mobile-iframe="true">
            <a class="fb-xfbml-parse-ignore facebook social_item" title="Share this Trumpku on Facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.trumpku.net%2F&amp;src=sdkpreparse"></a>
          </div>
          <a class="social_item twitter" title="Share this Trumpku on Twitter" href=<%= "https://twitter.com/intent/tweet?text=" + @twitter_haiku %>></a>
        </div>
        <p>&copy; 2017 Peter Reznick All Rights Reserved</p>
      </footer>
    </div>
  </body>
</html>
