<!DOCTYPE html>

<!--Idea, design and code by Peter Reznick-->
<!--(c) 2017 Peter Reznick All Rights Reserved-->

<html lang="en-US">
  <head>
    <title>TrumpKu</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="./stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="shortcut icon" href="/images/trumpku_icon.png" type="image/x-icon" />
  </head>
  <body>
    <header>
      <h1>Trump<span>Ku</span></h1>
    </header>
    <main>
      <div id="haiku_container">
        <p><%= @haiku[0] %></p>
        <p><%= @haiku[1] %></p>
        <p><%= @haiku[2] %></p>
      </div>
      <div id="refresh_button">
        <a href="/new_haiku">Another One</a>
      </div>
      <p class="popup_trigger">What is Trumpku?</p>
      <p class="popup">Trumpku generates a five-seven-five haiku using phrases selected semi-randomly from transcripts of the Donald's inaugural address and speeches on the campaign trail.</p>
    </main>
    <footer>
      <div class="counter_container">
        <p><%= @haiku_count %></p>
        <p>Trumpkus <span>since <%= @startup_date %></span></p>
      </div>
      <div class="social_container">
        <a href="#">
          <div class="social_item facebook">
          </div>
        </a>
        <a href="#">
          <div class="social_item twitter">
          </div>
        </a>
        <a href="#">
          <div class="social_item instagram">
          </div>
        </a>
      </div>
      <p>&copy; 2017 Peter Reznick All Rights Reserved</p>
    </footer>
  </body>
</html>
